.addGameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
}

.addGameButton {
  background-color: transparent;
  color: var(--whitePrimary);
  border: var(--whitePrimary) solid 1px;
  border-radius: 25px;
  box-shadow: #00000029 5px 5px 5px;
  width: 190px;
  font-size: 17px;
  padding: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addGameButton:hover {
  background-color: #ffffff2e;
}

.cancelAddGame {
  background-color: transparent;
  color: var(--whitePrimary);
  border: var(--whitePrimary) solid 1px;
  border-radius: 25px;
  width: 130px;
  font-size: 15px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelAddGame:hover {
  background-color: #ffffff2e;
}
